
body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-color: #19b7ff;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;

    background-size: cover;
}

img{
    height: 300px;
    width: 180px;
}
#logo{

    height: 16vh;
    width: auto;



}

#images{





}
#search{


}

.hidden {display:none;}

label{
    color: white;
    font-size: 15px;
}